data/

env/

lambda_update_dataset/
lambda_restart_eb/

*.DS_Store

auth.csv

update_dataset.*
clean_data.*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
