:root {
  --primary: #87ceeb;
  --secondary: #166484;
  --tertiary: #ecf7fc;
  --lightgray: #f8f8f8;
}

body {
  margin: 0;
  background-color: var(--lightgray);
  box-sizing: border-box;
}

/* Navbar Start */

.nav {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}

.nav .header {
  margin-left: 15px;
  padding: 0;
  border: none;
  color: white;
  font-size: 20px;
}

.nav .dropdown {
  width: 200px;
  margin-right: 10px;
}

/* Navbar End */

/* Dashboard Start */

.dashboard {
  height: 90vh;
  margin: 10px;
}

.country-page {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.percent-countries-container {
  width: 29%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex: 3;
}

.custom-tab {
  padding: 20px 10px !important;
  border-right: 0.5px solid #d6d6d6 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-selected {
  border-right: none !important;
  border-left: none !important;
  border-top: 3px solid var(--primary) !important;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px #ccc;
}

.custom-tab span {
  font-size: 15px;
}

.ranking-graph-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.percent-countries-graph {
  flex: 1;
}

.right {
  width: 69%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 7;
  padding-left: 10px;
  box-sizing: border-box;
}

.top-stats-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.card {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px #ccc;
  position: relative;
}

.top-stats {
  flex: 1;
  min-width: 0;
  height: 85px;
  margin-right: 7px;
}

.info-button {
  position: absolute;
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  border: none;
  z-index: 1;
}

.info {
  height: 15px;
  width: 15px;
  border: solid 1px #aaa;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 3px;
  color: #aaa;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  margin: 0;
}

/* .info:hover {
  cursor: pointer;
} */

.stat {
  width: fit-content;
  margin: auto;
  color: var(--primary);
  font-size: 30px;
}

.top-stats-container .header {
  width: fit-content;
  margin: auto;
  font-size: 15px;
  text-align: center;
}

.pred-full-vacc-container {
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 6;
  margin-right: 7px;
}

.pred-full-vacc-graph {
  flex: 1;
}

/* Dashboard End */
