:root {
  --primary: #87ceeb;
  --secondary: #166484;
  --tertiary: #ecf7fc;
  --lightgray: #f8f8f8;
}

body {
  margin: 0;
  background-color: var(--lightgray);
  box-sizing: border-box;
}

/* Navbar Start */

.nav {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}

.nav .header {
  margin-left: 10px;
  color: white;
}

.nav .dropdown {
  width: 200px;
  margin-right: 10px;
}

/* Navbar End */

/* Dashboard Start */

.dashboard {
  height: 90vh;
  margin: 10px;
}

.country-page {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.percent-countries-container {
  width: 29%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex: 3;
}

.percent-countries-graph {
  flex: 1;
}

.right {
  width: 69%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 7;
  padding-left: 10px;
  box-sizing: border-box;
}

.top-stats-container {
  width: 100%;
  margin: 0 -5px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.top-stats {
  flex: 1;
  /* padding: 0 5px; */
  /* box-sizing: border-box; */
  height: 85px;
  margin-right: 7px;
}

.stat {
  width: fit-content;
  margin: auto;
  color: var(--primary);
}

.top-stats-container .header {
  width: fit-content;
  margin: auto;
  font-size: 15px;
  text-align: center;
}

.pred-full-vacc-container {
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 6;
}

.pred-full-vacc-graph {
  flex: 1;
}

.card {
  /* height: 100%; */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px #ccc;
}

/* Dashboard End */
