:root {
  --primary: #87ceeb;
  --secondary: #166484;
  --tertiary: #ecf7fc;
  --lightgray: #f8f8f8;
}

body {
  margin: 0;
  background-color: var(--lightgray);
}

/* Navbar Start */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}

.nav .header {
  margin-left: 10px;
  color: white;
}

.nav .dropdown {
  width: 200px;
}

/* Navbar End */

/* Dashboard Start */

.dashboard {
  margin: 10px;
}

.country-page {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.stats-container {
  width: 30%;
  height: 300px !important;
}

.card {
  width: 100%;
  height: max-content;
  padding: 10px;
  /* border: 1px solid #ddd; */
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px #ccc;
}

.ranking-container {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.ranking {
  width: 30%;
}

/* Dashboard End */
